/// Includes all `font-weight` values used in application
///
/// @group Helper
/// @author Hayk Ghazaryan
///
/// @type Map
/// @example
/// // generated helpers: .f-w-<key> {font-weight: <value>}
///
/// .f-w-regular {
///		font-weight: 400;
///	}
///
$mapFontWeights: (
		thin: 100,
		light: 300,
		normal: 400,
		semibold: 600,
		bold: 700
);

/// Includes all `font-family` values used in application
///
/// @group Helper
/// @author Hayk Ghazaryan
///
/// @type Map
/// @example
/// // generated helpers: .f-f-<key> {font-weight: <value>}
///
/// .f-f-open-sans {
///		font-open-sans: "'OpenSans', 'Open Sans', sans-serif";
///	}
///
$mapFontFamilies: (
		open-sans: "'OpenSans', 'Open Sans'"
);

/// Includes all `color` values used in application <br/>
/// Also will affect on border and background generation <br />
/// Please use <a target="_blank" href="http://chir.ag/projects/name-that-color/">http://chir.ag/projects/name-that-color/</a> for color names
///
/// @group Helper
/// @author Hayk Ghazaryan
///
/// @type Map
/// @example
/// // generated helpers:
/// // .c-<key> {color: <value>}
/// // .bg-<key> {background-color: <value>}
///
/// .c-green {
///		color: #6FAE2F;
///	}
///
/// .bg-green {
///		background-color: #6FAE2F;
///	}
///
$mapColors: (
		dark-gray: '#484848',
		ash-gray: '#6E777D',
		oslo-gray: '#899398',
		silver: '#BBC1C4',
		platinum: '#E5E5E5',
		light-gray: '#C0C0CA',
		blue: '#296095',
		white: '#ffffff',
		mulberry: '#CB4375',
		green: '#6FAE2F',
		red: '#EF0B46'
);

/// Includes all `border-width` values used in application
///
/// @group Helper
/// @author Hayk Ghazaryan
///
/// @type Map
/// @example
/// // generated helpers: .f-w-<key> {font-weight: <value>}
///
/// .f-w-thin {
///		font-weight: 1px;
///	}
///
$mapBorderSizes: (
		thin: '1px',
		normal: '2px',
		thick: '3px'
);

/// Includes all `border-style` values used in application
///
/// @group Helper
/// @author Hayk Ghazaryan
///
/// @type Map
/// @example
/// // generated helpers: .b-(size)-<key>-(color) { border: (size)px <value> (color) }
///
/// .b-thin-solid-green {
/// 	border: 1px solid #6FAE2F;
/// }
///
$mapBorderStyles: (
		solid: 'solid',
		dashed: 'dashed',
		dotted: 'dotted'
);

/// Includes all `border-radius` values used in application
///
/// @group Helper
/// @author Hayk Ghazaryan
///
/// @type Map
/// @example
/// // generated helpers: .b-rad-<key> {border-radius: <value>}
/// .b-rad-small {
/// 	border-radius: 4px;
/// }
///
$mapBorderRadiuses: (
		small: '4px',
		normal: '5px',
		large: '6px',
		extra-large: '12px'
);

/// Includes all `border-sizing` values used in application
///
/// @group Helper
/// @author Zara Ohanyan
///
/// @type Map
/// @example
/// // generated helpers: .b-sizing-<key> {border-sizing: <value>}
/// .b-sizing-b {
/// 	box-sizing: border-box;
/// }
///
$mapBoxSizing: (
		b: 'border-box',
		i: 'initial'
);

/// Includes first size (`start`), last size (`end`) and difference (`step`) between sizes of padding values used in application
///
/// @group Helper
/// @author Hayk Ghazaryan
///
/// @type Map
/// @example
/// // generated helpers: .p-a-<value> {padding: <value>px}, .p-l-<value> {padding-left: <value>px},...
/// .p-a-0 { padding: 0px; }
/// .p-l-0 { padding-left: 0px; }
///
$mapPaddingSetup: (
		start: 0,
		end: 40,
		step: 2
);

/// Includes first size (`start`), last size (`end`) and difference (`step`) between sizes of margin values used in application
///
/// @group Helper
/// @author Hayk Ghazaryan
///
/// @type Map
/// @example
/// // generated helpers: .m-a-<value> {margin: <value>px}, .m-l-<value> {margin-left: <value>px},...
/// .m-a-0 { margin: 0px; }
/// .m-l-0 { margin-left: 0px; }
///
$mapMarginSetup: (
		start: 0,
		end: 40,
		step: 2
);

/// Includes all `display` values used in application
///
/// @group Helper
/// @author Hayk Ghazaryan
///
/// @type Map
/// @example
/// // generated helpers: .d-<key> {display: <value>}
/// .d-i {display: inline}
///
$mapDisplayValues: (
		i: inline,
		b: block,
		f: flex,
		ib: inline-block
);

/// Includes all `cursor` values used in application
///
/// @group Helper
/// @author Zara Ohanyan
///
/// @type Map
/// @example
/// // generated helpers: .cursor-<key> {cursor: <value>}
/// .cursor-p {cursor: pointer}
///
$mapCursor: (
		p: pointer,
		na: not-allowed
);

/// Includes all `text-align` values used in application
///
/// @group Helper
/// @author Hayk Ghazaryan
///
/// @type Map
/// @example
/// // generated helpers: .t-<key> {text-align: <value>}
/// .t-l {text-align: left}
///
$mapTextAlign: (
		l: left,
		r: right,
		c: center,
		j: justify
);

/// Includes all `text-decoration` values used in application
///
/// @group Helper
/// @author Hayk Ghazaryan
///
/// @type Map
/// @example
/// // generated helpers: .t-d-<key> {text-decoration: <value>}
/// .t-d-n {text-decoration: none}
///
$mapTextDecoration: (
		n: none,
		u: underline
);

/// Includes all `text-transform` values used in application
///
/// @group Helper
/// @author Hayk Ghazaryan
///
/// @type Map
/// @example
/// // generated helpers: .t-t-<key> {text-transform: <value>}
/// .t-t-up {text-transform: uppercase}
///
$mapTextTransform: (
		up: "uppercase",
		cap: "capitalize",
		low: "lowercase",
		none: "none"
);

/// Includes all `font-size` values used in application
///
/// @group Helper
/// @author Hayk Ghazaryan
///
/// @type Map
/// @example
/// // generated helpers: .f-s-<key> {font-size: <value>px}
/// .f-s-tiny {font-size: 11px}
///
$mapFontSizes: (
		tiny: 11,
		small: 12,
		medium: 14,
		large: 18
);

/// Includes all `vertical-align` values used in application
///
/// @group Helper
/// @author Hayk Ghazaryan
///
/// @type Map
/// @example
/// // generated helpers: .v-a-<key> {font-size: <value>}
/// .v-a-mid {vertical-align: middle}
///
$mapVerticalAlign: (
		mid: "middle"
);



$mapBreakpoints: (
	portrait: 	(start: null, end: '449px'),
	landscape: 	(start: '450px',end: '559px'),
	tablet: 	(start: '600px',end: '1023px'),
	desktop: 	(start: '1024px',end: null)
)