
/// Creates font weights helpers for use
/// @type Map
/// @example
/// // generated helpppers: .f-w-<key> {font-weight: <value>}
///
/// .f-w-thin {
///		font-weight: 100;
///	}
///

$mapFontWeights: (
	thin:		100,
	light:		300,
	normal:		400,
	semibold:	600,
	bold:		700
);


/// Creates font families helpers for use
/// @type Map
/// @example
/// // generated helpppers: .f-f-<key> {font-weight: <value>}
///
/// .f-f-arvo {
///		font-family: "'Arvo', serif";
///	}
///

$mapFontFamilies: (
	arvo:	"'Arvo', serif",
	roboto:	"'Roboto', sans-serif"
);


/// Creates text color and background color helpers for use <br/>
/// Also will affect on border generation
/// @type Map
/// @example
/// // generated helpppers:
/// // .c-<key> {color: <value>}
/// // .bg-<key> {background-color: <value>}
///
/// .c-success {
///		color: #00ff00;
///	}
///
/// .bg-success {
///		background-color: #00ff00;
///	}
///

$mapColors: (
	success:'#00ff00',
	danger:	'#ff0000',
	info:	'#0000ff',
	black:	'#000000',
	white:	'#ffffff'
);

/***************************\
  BORDER SIZES
*****************************
 .brd-<key> {
	border-width: <value>
 }
\***************************/


/// Creates border width helpers for use
/// @type Map
/// @example
/// // generated helpppers: .f-w-<key> {font-weight: <value>}
///
/// .f-w-thin {
///		font-weight: 100;
///	}
///

$mapBorderSizes: (
	thin: '1px',
	normal: '2px',
	thick: '3px'
);

/***************************\
  BORDER STYLES
*****************************
 .brd-<key> {
    border-style: <value>
 }
\***************************/

$mapBorderStyles: (
	solid: 'solid',
	dashed: 'dashed',
	dotted: 'dotted'
);

/***************************\
  BORDER RADIUS
*****************************
 .brd-<key> {
    border-radius: <value>
 }
\***************************/

$mapBorderRadiuses: (
	small:	'3px',
	normal:	'4px',
	large:	'5px'
);



$mapPaddingSetup: (
	start:	10,
	end:	30,
	step:	5
);


$mapMarginSetup: (
	start:	10,
	end:	30,
	step:	5
);


$mapDisplayValues: (
	i: inline,
	b: block,
	f: flex,
	ib: inline-block
);


$mapTextAlign: (
	l: left,
	r: right,
	c: center,
	j: justify
);


$mapTextDecoration: (
	n: none,
	u: underline
);
