/*
/// Creates font weights helpers
/// @type Map
/// @example
/// // generated helpppers: .f-w-<key> {font-weight: <value>}
///
/// .f-w-thin {
///		font-weight: 100;
///	}
///
*/
$mapFontWeights: (
		thin: 100,
		light: 300,
		normal: 400,
		semibold: 600,
		bold: 700
);

/*
/// Creates font families helpers
/// @type Map
/// @example
/// // generated helpppers: .f-f-<key> {font-weight: <value>}
///
/// .f-f-arvo {
///		font-family: "'Arvo', serif";
///	}
///
*/
$mapFontFamilies: (
		open-sans: "'OpenSans', 'Open Sans'"
);

/*
/// Creates text color and background color helpers <br/>
/// Also will affect on border generation
/// @type Map
/// @example
/// // generated helpppers:
/// // .c-<key> {color: <value>}
/// // .bg-<key> {background-color: <value>}
///
/// .c-success {
///		color: #00ff00;
///	}
///
/// .bg-success {
///		background-color: #00ff00;
///	}
///
*/
// Please use http://chir.ag/projects/name-that-color/ for color names
$mapColors: (
		dark-gray: '#484848',
		ash-gray: '#6E777D',
		oslo-gray: '#899398',
		silver: '#BBC1C4',
		platinum: '#E5E5E5',
		light-gray: '#C0C0CA',
		blue: '#296095',
		white: '#ffffff',
		mulberry: '#CB4375',
		green: '#6FAE2F',
		red: '#EF0B46'
);

/***************************\
  BORDER SIZES
*****************************
 .brd-<key> {
	border-width: <value>
 }
\***************************/
/*
/// Creates border width helpers for use
/// @type Map
/// @example
/// // generated helpppers: .f-w-<key> {font-weight: <value>}
///
/// .f-w-thin {
///		font-weight: 100;
///	}
///
*/
$mapBorderSizes: (
		thin: '1px',
		normal: '2px',
		thick: '3px'
);

/***************************\
  BORDER STYLES
*****************************
 .brd-<key> {
    border-style: <value>
 }
\***************************/
/*
/// Creates border style helpers
/// @type Map
/// @example
/// // generated helpppers: .brd-<key> {  }
*/
$mapBorderStyles: (
		solid: 'solid',
		dashed: 'dashed',
		dotted: 'dotted'
);

/***************************\
  BORDER RADIUS
*****************************
 .brd-<key> {
    border-radius: <value>
 }
\***************************/

$mapBorderRadiuses: (
		small: '4px',
		normal: '5px',
		large: '6px',
		extra-large: '12px'
);

$mapPaddingSetup: (
		start: 0,
		end: 40,
		step: 2
);

$mapMarginSetup: (
		start: 0,
		end: 40,
		step: 2
);

$mapDisplayValues: (
		i: inline,
		b: block,
		f: flex,
		ib: inline-block
);

$mapTextAlign: (
		l: left,
		r: right,
		c: center,
		j: justify
);

$mapTextDecoration: (
		n: none,
		u: underline
);

$mapFontSizes: (
		tiny: 11,
		small: 12,
		medium: 14,
		large: 18
);

$mapBreakpoints: (
	portrait: '300px',
	landscape: '450px',
	tablet: '600px',
	desktop: '1024px'
)