@each $sizeName, $size in $mapBorderSizes {
	
	@each $styleName, $style in $mapBorderStyles {
		
		@each $colorName, $color in $mapColors {
			.b-#{$sizeName}-#{$styleName}-#{$colorName} {
				border: #{$size} #{$style} #{$color};
			}
		}

	}
};

@each $radiusName, $radius in $mapBorderRadiuses {
	.b-rad-#{$radiusName} {
		border-radius: #{$radius};
	}

	$className: b-rad-#{$radiusName};
	@include apply-for-all-breakpoints($className) {
		border-radius: #{$radius};
	}
}