$start: map-get($mapMarginSetup, 'start');
$end: map-get($mapMarginSetup, 'end');
$step: map-get($mapMarginSetup, 'step');

$length: ($end - $start) / $step;

@for $i from 0 to ($length + 1) {
	$stepValue: ($step * $i);
	@if $stepValue >= $start and $stepValue <= $end {
		$value: $stepValue * 1px;
		.m-a-#{$stepValue} {
			margin: $value
		}
		.m-t-#{$stepValue} {
			margin-top: $value
		}
		.m-l-#{$stepValue} {
			margin-left: $value
		}
		.m-r-#{$stepValue} {
			margin-right: $value
		}
		.m-b-#{$stepValue} {
			margin-bottom: $value
		}
		.m-tb-#{$stepValue} {
			margin-top: $value;
			margin-bottom: $value;
		}
		.m-lr-#{$stepValue} {
			margin-left: $value;
			margin-right: $value;
		}

	}
}