$start: map-get($mapPaddingSetup, 'start');
$end: 	map-get($mapPaddingSetup, 'end');
$step: 	map-get($mapPaddingSetup, 'step');

$length: ($end - $start) / $step;

@for $i from 0 to ($length + 1) {
	$stepValue: ($step * $i);
	@if  $stepValue >= $start and $end >= $stepValue {
		$value: $stepValue * 1px;
		.p-a-#{$stepValue} {padding: $value}
		.p-l-#{$stepValue} {padding-left: $value}
		.p-r-#{$stepValue} {padding-right: $value}
		.p-t-#{$stepValue} {padding-top: $value}
		.p-b-#{$stepValue} {padding-bottom: $value}
	}
}